* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    background-color: #fafad2;
    padding: 1rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
/* DHIVYA CODE STARTS  */
.container {
    border: .1rem solid black;
    padding: 1rem;
    margin: 1em auto;
    width: fit-content;
}

.heading {
    background-color: aliceblue;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.segments {
    position: relative;
    height: 15rem;
    width: 15rem;
}

P{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

 .image-container span{
    margin-left: 50px;
    padding: 20px;
    cursor: pointer;
}
/* DHIVYA CODE ENDS  */


/* Hari Gokul Code Starts here */
.projects {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f7f7f7;
    border: 2px solid black;
  }
  
  .projects h2 {
    font-size: 1.8rem;
    color: #555;
  }
  
  .abstract p {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    
  }
  
  .abstract h3 {
    
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .grid img {
    width: 100%;
    height: auto;
    border: 2px solid black;
  }
  
  .projects h2:last-child {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #555;
  }
  .projects h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .ssDiv h3{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  .ftrDiv h4{
    margin-left: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .names {
    float: right;
  }
  
/* Hari Gokul Code Ends here */